.header {
  position: fixed;
  z-index: 1;
  width: 100svw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  &--hidden {
    display: none;
  }
}
.logo {
  height: 5vw;
  aspect-ratio: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  &__img {
    transition: 1s;
    width: 5vw;
    height: 5vw;
    &:hover {
      scale: 110%;
    }
  }
  &__text {
    color: $white;
    padding-top: 1vw;
    font-size: 1vw;
    font-weight: 500;
  }
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  width: 10vw;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 2vw;
  line-height: 2vw;
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, rgba(68, 32, 126, 0.63) 14.58%, #4c1a73 72.92%);
  border-bottom-left-radius: 10px;
  transition: 0.5s ease-out;
  &:hover {
    width: 20vw;
    border-radius: 5px;
  }
  &__item {
    height: 40%;
    aspect-ratio: 1;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
  }
}
.active {
  color: #fcd900;
  font-weight: 600;
}
a {
  color: $white;
  text-decoration: none;
}

@media (max-width: 480px) {
  .header {
    height: 5vh;
    bottom: 0;
  }
  .logo {
    display: none;
  }
  .navbar {
    width: 100%;
    border-radius: 0;
    &:hover {
      width: 100%;
      border-radius: 0;
    }
    &__item {
      width: 20px;
      height: 20px;
    }
  }
}
@media (min-width: 481px) {
  .navbar {
    &__item {
      &:hover {
        filter: drop-shadow(1px 1px 5px #fcd900);
      }
    }
  }
  .active {
    filter: drop-shadow(1px 1px 5px #fcd900);
  }
}
