.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 5vw;
  background: linear-gradient(180deg, rgba(68, 32, 126, 0.63) 14.58%, #4c1a73 72.92%);
  font-family: 'Roboto', 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.logo {
  width: 15vw;
  display: flex;
  flex-flow: row nowrap;
  &__img {
    margin: 0.5vw;
    width: 4vw;
    height: 4vw;
  }
  &__text {
    color: $white;
    padding-top: 1vw;
    font-size: 1vw;
    font-weight: 500;
  }
}
.navbar {
  display: flex;
  width: 70vw;
  justify-content: space-around;
  list-style: none;
  font-size: 2vw;
  height: 100%;
  margin: 0;
  &__item {
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    padding-top: 2.5%;
    line-height: 100%;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
  }
}
.active {
  color: #fcd900;
  font-weight: 600;
}
a {
  color: $white;
  text-decoration: none;
}
