.wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 60%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  &__container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    &__block {
      position: relative;
      width: 50%;
      height: 50%;
      transition: 0.25s;
    }
  }
  &__active {
    transition: 0.5s;
    width: 70%;
    height: 70%;
  }
  &__blur {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 100%;
    filter: blur(15px) opacity(50%) drop-shadow(16px 16px 20px #19043a);
    transition: 2s;
  }
  &__heart {
    position: absolute;
    bottom: -10%;
    margin-bottom: -50px;
    width: 100%;
    height: 40%;
    transition: 0.5s;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
    &:hover {
      transform: scale(1.1);
    }
    &__active {
      scale: 0.5;
      margin-bottom: 0;
      animation: wiggle 1.5s linear infinite;
    }
  }
}
@media screen and (max-width: 920px) {
  .wrapper {
    display: flex;
    flex-flow: column nowrap;
  }
  .photo {
    height: 100%;
    width: 100%;
    &__container {
      height: 50%;
      width: 100%;
      position: relative;
      &__block {
        position: relative;
        width: 40%;
        height: 50%;
      }
    }
    &__active {
      transition: 0.5s;
      width: 60%;
      height: 65%;
    }
  }
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
