.homepage {
  width: 100svw;
  height: 100svh;
  &__container {
    height: 100%;
    width: 100%;
  }
  &__photo {
    position: absolute;
    width: 150%;
    height: 150%;
    margin-top: -12.5%;
    margin-left: -25%;
    object-fit: cover;
  }
  &__jumbotron {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    font-size: 4svw;
    color: #eee;
    font-weight: bold;
    filter: drop-shadow(10px 10px 10px black);
    &__second {
      font-size: 1.75svw;
      text-align: center;
      font-weight: light;
      margin-top: 4.5svw;
    }
  }
}
.loginbutton {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  top: 65%;
  left: 50%;
  height: 7svw;
  width: 27svw;
  user-select: none;
  transform: translate(-50%);
  background: linear-gradient(0.75turn, $red, $primary);
  text-align: center;
  color: transparent;
  font-size: 7svw;
  font-weight: bold;
  border-radius: 0.5svw;
  background-clip: text;
  transition: 0.05s;
  &:active,
  &:focus,
  &:focus-within {
    font-size: 6svw;
  }
}
@media (max-width: 480px) {
  .homepage {
    &__jumbotron {
      font-size: 4svw;
      top: 50%;
      &__second {
        margin-top: 5svw;
        font-size: 2svw;
      }
    }
  }
  .loginbutton {
    top: 57.5%;
  }
}
