@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.ttf') format('ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf') format('ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Light.ttf') format('ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.ttf') format('ttf');
  font-weight: bold;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.font-inter {
  font-family: 'Inter', sans-serif !important;
}
.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}
