@import './variables';
@import './fonts';
@import './pages/index.scss';
@import './components/index.scss';
*,
*::after,
*::before,
div,
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: $black;
  width: 100%;
}
input,
button,
select,
option {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: inherit;
}
